h1 {

}


button {
  background-color: #0074D9;
  color: white;
  border-color: #0074D9;
  border-style: solid;
}
a
{ color : #0074D9}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.mdc-card {
    display: inline-block;
margin: 0px 50px 70px 0px;

  -webkit-box-shadow: 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 1px 1px #ccc;
padding: 20px;
}
.tag {
    background-color: orange;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}
p.tag-words {
    color: white;
}

.logowords {
  float: left;
  margin-left: 20px;
}

.nameofproduct {
  font-family: Arial;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}

.strapline {
  font-size: 15px;
}
form#searchform {
    margin-top: 25px;}
