h1 {

}


button {
  background-color: ##edf6ff;
  color: gray;
  border-color: #0074D9;
  border-style: solid;
  padding: 1rem;
  border-radius: 1em;
}
a {
  color : #0074D9
}
#addabook {
  font-size: 2em;
  font-style: bold;

}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.col-sm-2.navbarleft {
     background-color:#3D00BB;
     text-transform: uppercase;
     color:white; 
}

.navbarleft a{
      color:white;}

.copies-available {
    margin-top: 0px;
}

.hr-copies-available {
  border-color: #ffc107;
}

.mdc-card {
    display: inline-block;
margin: 0px 50px 70px 0px;

  -webkit-box-shadow: 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 1px 1px #ccc;
padding: 20px;
}
.tag {
    background-color: orange;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}
p.tag-words {
    color: white;
}

.logowords {
  float: left;
  margin-left: 20px;
}

.nameofproduct {
  font-family: Arial;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color:rgb(75,4,169,1);    
  text-transform: uppercase;
}

.strapline {
  font-size: 22px;
  color:rgb(75,4,169,1); 
}

form#searchform {
    margin-top: 25px;
}

.linestyle {
  color: #fdac00;
  margin: 0;
  border-top: 7px solid;

}
