h1 {

}


.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.mdc-card {
    display: inline-block;
margin: 0px 50px 0px 0px;

  -webkit-box-shadow: 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 1px 1px #ccc;
padding: 20px;
}
